-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "CheckpointPhase" AS ENUM ('DAYS_1_15', 'DAYS_16_30', 'DAYS_31_45', 'DAYS_46_60', 'DAYS_61_75', 'DAYS_76_90');

-- CreateTable
CREATE TABLE "User" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "passwordHash" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Employee" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "role" TEXT NOT NULL,
    "project" TEXT NOT NULL,
    "managerName" TEXT NOT NULL,
    "startDate" TIMESTAMP(3) NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Employee_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CheckpointQuestion" (
    "id" TEXT NOT NULL,
    "code" TEXT NOT NULL,
    "dimension" TEXT NOT NULL,
    "prompt" TEXT NOT NULL,
    "sortOrder" INTEGER NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "CheckpointQuestion_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CheckpointReview" (
    "id" TEXT NOT NULL,
    "employeeId" TEXT NOT NULL,
    "phase" "CheckpointPhase" NOT NULL,
    "reviewDate" TIMESTAMP(3),
    "generalComment" TEXT,
    "completedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "CheckpointReview_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CheckpointResponse" (
    "id" TEXT NOT NULL,
    "reviewId" TEXT NOT NULL,
    "questionId" TEXT NOT NULL,
    "rating" INTEGER NOT NULL,
    "comment" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "CheckpointResponse_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "User_email_key" ON "User"("email");

-- CreateIndex
CREATE UNIQUE INDEX "Employee_email_key" ON "Employee"("email");

-- CreateIndex
CREATE UNIQUE INDEX "CheckpointQuestion_code_key" ON "CheckpointQuestion"("code");

-- CreateIndex
CREATE UNIQUE INDEX "CheckpointReview_employeeId_phase_key" ON "CheckpointReview"("employeeId", "phase");

-- CreateIndex
CREATE UNIQUE INDEX "CheckpointResponse_reviewId_questionId_key" ON "CheckpointResponse"("reviewId", "questionId");

-- AddForeignKey
ALTER TABLE "CheckpointReview" ADD CONSTRAINT "CheckpointReview_employeeId_fkey" FOREIGN KEY ("employeeId") REFERENCES "Employee"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CheckpointResponse" ADD CONSTRAINT "CheckpointResponse_questionId_fkey" FOREIGN KEY ("questionId") REFERENCES "CheckpointQuestion"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CheckpointResponse" ADD CONSTRAINT "CheckpointResponse_reviewId_fkey" FOREIGN KEY ("reviewId") REFERENCES "CheckpointReview"("id") ON DELETE CASCADE ON UPDATE CASCADE;

